/*
  アプリ全体
*/
.hidden{
  display: none;
}

.body-out{
  width: 100vw;
  height: 100vh;
  display: flex;
  background-color: #000000;
}

.body-in {
  width: 500px;
  height: 100vh;
  margin:auto;
  background-color: #ffffff;
 }

/*
  header
*/

 .header {
  width: 100%;
  height: 70px;
  background-color: #01B7D6;
  display: flex;
}

.header_content{
  width: 100%;
  height: 100%;
  display: flex;
}

#header_menu-icon{
  width: 70px;
  height: 70px;
}

.header_app-title{
  width: calc(100% - 70px);
  margin: auto;
  padding-left: 40px;
  font-size: 30px;
  font-weight: bold;
}

/*
  main
*/

.main {
  width: 100%;
  height: calc(100% - 140px);
  background-color: #ffffff;
}

.header_menu-lists{
  background-color: #01B7D6;
  opacity: .5;
  width: 100px;
  margin: 0px;
  padding-left: 10px;
  list-style: none;
}

.header_menu-list{
  text-decoration: none;
  color: #000000;
}

/*
  footer
*/

.footer{
  width: 100%;
  height: 70px;
  background-color: #01B7D6;
}

.footer_menu{
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.footer_menu-button{
  border-radius: 50% 50% 50% 50%;
  border: solid #000000;
  height: 50px;
  width: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer_menu-button-image{
  height: 35px;
  width: 35px;
}